body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.confirm-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

img {
    width: 100px;
    height: auto;
    padding: 20px;
}

#back {
    background-color: #ffffff;
    color: #3498db;
    padding: 10px;
    border: 2px solid #3498db;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 150px;
    margin-top: 20px;
    border-radius: 4px;
}

    #back:hover {
        background-color: #3498db;
        color: white;
    }
