body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.title {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 0;
    background-color: #cdcdcd;
}

.about-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    width: 800px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.scroll-container {
    height: 400px;
    overflow-y: auto;
}

#title-top {
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
}

#title-bottom {
    font-size: 40px;
    font-weight: bold;
    color: #3498db;
    padding-left: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

.left {
    margin-right: 10px;
    width: 350px;
}

.right {
    margin-left: 10px;
    width: 350px;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.role {
    font-size: 21px;
    font-weight: bold;
    color: #222222;
}

.desc {
    font-size: 17px;
    color: #5E5E5E;
}

.buttons {
    display: flex;
    justify-content: right;
}

#back {
    background-color: #ffffff;
    color: #3498db;
    padding: 10px;
    border: 2px solid #3498db;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 150px;
    margin-top: 20px;
    border-radius: 4px;
}

    #back:hover {
        background-color: #3498db;
        color: white;
    }

.donate-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    width: 800px;
    margin-bottom: 20px;
}

#support {
    font-size: 35px;
    font-weight: bold;
    padding-right: 50px;
}

#donate {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 150px;
    border-radius: 4px;
}

    #donate:hover {
        background-color: #2980b9;
    }
