body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.pw-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin: auto;
}

h1 {
    color: #3498db;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 350px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#back {
    background-color: #ffffff;
    color: #3498db;
    padding: 12px;
    border: 2px solid #3498db;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 150px;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 4px;
}

#submit {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 200px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 4px;
}

#back:hover {
    background-color: #DCDCDC;
}

#submit:hover {
    background-color: #2980b9;
}
